<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Coding Dojo Python/Django Semi-Restful Routes assignment">
	{% load staticfiles %}
	<title>Semi-Restful Routes</title>
	<link rel="stylesheet" href="{% static 'semirest/css/css_boilerplate.css' %}" media="screen">
	<style media="screen">
		ul {
			list-style-type: none;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
		li::after {
			content: ' |';
		}
		ul li:last-child::after {
			content: none;
		}
	</style>
</head>
<body>
	<main class="eighty">
		<h1>Edit Product {{ product.id }}</h1>
		<form class="ninety center" action="{% url 'semirest:update' id=product.id %}" method="post">
			{% csrf_token %}
			<label class="hundo" for="name">Name</label>
			<input class="sixty" type="text" name="name" value="{{ product.name }}">
			<label class="hundo" for="description">Description</label>
			<input class="sixty" type="text" name="description" value="{{ product.description }}">
			<label class="hundo" for="price">Price</label>
			<input class="sixty" type="number" min="0" max="1000000" step="any" name="price" value="{{ product.price }}">
			<input class="btn btn-pop" type="submit" name="update" value="Update">
		</form>
		<ul>
			<li><a href="{% url 'semirest:show' id=product.id %}">Show</a></li>
			<li><a href="{% url 'semirest:index' %}">Go Back</a></li>
		</ul>
	</main>
</body>
</html>
